{# Utilize Drupal default menu template #}
{% import _self as menus %}

<div class="c-menu--navigation">
	{{ menus.menu_links(items, attributes, 0, menu_name) }}
	{% macro menu_links(items, attributes, menu_depth, modifier) %}
		{% import _self as menus %}
		{% if items %}
			<ul {{ attributes.setAttribute('data-depth', menu_depth) }}>
				{% for item in items %}
					<li {{ item.attributes.addClass(classes) }}>
						{{ link(item.title, item.url) }}
						{% if item.below %}
							{{ menus.menu_links(item.below, attributes, menu_depth + 1, modifier) }}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endmacro %}
</div>
